[submodule "overview.template"]
	path = overview.template
	url = git@github.com:chimera-lab/overview.template.git
[submodule "topic.template"]
	path = topic.template
	url = git@github.com:chimera-lab/topic.template.git
[submodule "diy.template"]
	path = diy.template
	url = git@github.com:chimera-lab/diy.template.git
[submodule "repository.template"]
	path = repository.template
	url = git@github.com:chimera-lab/repository.template.git
[submodule "scaffold.template"]
	path = scaffold.template
	url = git@github.com:chimera-lab/scaffold.template.git
[submodule "project.template"]
	path = project.template
	url = git@github.com:chimera-lab/project.template.git
[submodule "app.template"]
	path = app.template
	url = git@github.com:chimera-lab/app.template.git
