[submodule "template-overview"]
	path = template-overview
	url = git@github.com:chimera-lab/template-overview.git
[submodule "template-topic"]
	path = template-topic
	url = git@github.com:chimera-lab/template-topic.git
[submodule "template-diy"]
	path = template-diy
	url = git@github.com:chimera-lab/template-diy.git
[submodule "template-repository"]
	path = template-repository
	url = git@github.com:chimera-lab/template-repository.git
[submodule "template-scaffold"]
	path = template-scaffold
	url = git@github.com:chimera-lab/template-scaffold.git
[submodule "template-project"]
	path = template-project
	url = git@github.com:chimera-lab/template-project.git
[submodule "template-app"]
	path = template-app
	url = git@github.com:chimera-lab/template-app.git
