[submodule ".chimera-lab/.template"]
	path = .chimera-lab/.template
	url = git@github.com:chimera-lab/repository.template.git
[submodule ".chimera-lab/.chimera-lab/.template"]
	path = .chimera-lab/.chimera-lab/.template
	url = git@github.com:chimera-lab/repository.template.git
